<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing service</h1>

  <%= render "form", service: @service %>

  <% if @service.container.present? %>
    <%= link_to "Regresar", container_path(@service.container), class: "btn-primary" %>
  <% else %>
    <%= link_to "Regresar", services_path, class: "btn-primary" %>
  <% end %>
</div>
