<div class="mx-auto md:w-2/3 w-full flex mt-6">
  <div class="mx-auto">

    <%= render @service %>
    <% if @service.container.present? %>
      <%= link_to "Regresar", container_path(@service.container), class: "btn-primary" %>
    <% else %>
      <%= link_to "Regesar", services_path, class: "btn-primary" %>
    <% end %>
  </div>
</div>
