<div class="mx-auto md:w-2/3 w-full px-2 mt-6">
  <h1 class="font-bold text-4xl">Nuevo Gasto</h1>

  <div class="bg-white shadow-md rounded-lg max-w-lg mx-auto">
    <%= render "form", payable: @payable %>
  </div>

</div>
