<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <%= render @payable %>

    <%= link_to "Editar", edit_payable_path(@payable), class: "btn-primary" %>
    <%= link_to "Regresar", payables_path, class: "btn-primary" %>
    <div class="inline-block ml-2">
      <%= button_to "Eliminar", @payable, method: :delete, data: { confirm: "¿Estás seguro?" }, class: "btn-danger" %>
    </div>
  </div>
</div>
