<div>
  <h1 class="font-bold text-4xl">Usuarios</h1>

  <% if @users.any? %>
    <table class="table">
      <thead class="bg-slate-200">
        <tr class="border">
          <th class="px-2">Nombre</th>
          <th class="px-2">Apellido Paterno</th>
          <th class="px-2">Apellido Materno</th>
          <th class="px-2">Acciones</th>
        </tr>
      </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr class="border hover:bg-slate-100">
              <td class="px-2"><%= user.first_name %> </td>
              <td class="px-2"><%= user.last_name %></td>
              <td class="px-2"><%= user.second_last_name %></td>
              <td class="px-2"><%= link_to "Ver Detalles", user, class: "underline" %></td>
            </tr>
          <% end %>
        </tbody>
    </table>
  <% end %>
</div>
