<div class="mx-auto w-full md:w-2/3 px-4 md:px-8 mb-20">
  <div class="mx-auto">
    <h1>Movimiento</h1>

    <%= render @move %>

    <%= link_to "Regresar", moves_path, class: "ml-2 btn-primary" %>
    <div class="inline-block ml-2">
    </div>
  </div>
</div>
