<div style="height: 100vh; display: flex; justify-content: center; align-items: center;">
  <div class="w-full h-full rounded-lg p-8 bg-no-repeat bg-cover bg-center"
       style="background-image: url(<%= asset_path 'yaco.png' %>);">
    <div class="flex flex-col justify-center px-8 py-8 rounded-lg shadow-xl"
          style="margin-left: 10%; margin-right: 10%; margin-top: 2%; background: rgba(255, 255, 255, 0.02);
                 border-radius: 16px; box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); backdrop-filter: blur(5px);
                 -webkit-backdrop-filter: blur(5px); border: 1px solid rgba(255, 255, 255, 0.3);">
      <h1 class="font-bold mb-4 text-center" style="color:rgb(249, 249, 252); font-size: 2.5rem;">
        YACO
        <span class="" style="color:rgb(249, 249, 252); font-size: 1.5rem; font-style: italic;">Yard Containers</span>
      </h1>
      <h2 class="text-center" style="color:rgb(249, 249, 252); font-size: 1.5rem;">
        Controla, Genera y Automatiza tu Operación
      </h2>
    </div>
    <div class="px-4 py-4 rounded-lg shadow-xl"
          style="margin-left: 10%; margin-right: 10%; margin-top: 20%; background: rgba(255, 255, 255, 0.02);
                 border-radius: 16px; box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); backdrop-filter: blur(5px);
                 -webkit-backdrop-filter: blur(5px); border: 1px solid rgba(255, 255, 255, 0.3); position: absolute; right: 0;">
      <h2 class="text-center" style="color:rgb(249, 249, 252); font-size: 1rem;">
        Versión 1.0.1.28102024
      </h2>
    </div>
  </div>
</div>
