<div class="flex flex-col mx-16">
  <h1>Patio de Contenedores App</h1>
  <h2>Facilita la gestión y seguimiento de contenedores. Permite registrar la llegada, ubicación, inspección, y servicios asociados a cada contenedor. Además, genera EIRs (Equipment Interchange Receipts) con códigos QR, envía notificaciones a operadores de equipos, y controla el retorno de contenedores tras validaciones de pago o crédito. Todo en un sistema centralizado para optimizar el flujo de contenedores y mejorar la eficiencia operativa. </h2>
</div>
