<div class="mx-auto md:w-2/3 w-full px-4">
  <h1 class="font-bold text-4xl">Editing permission</h1>

  <%= render "form", permission: @permission %>
  <div class="flex mt-4 gap-2">
    <%= link_to "Ver Permiso", @permission, class: "btn-primary" %>
    <%= link_to "Regresar", permissions_path, class: "btn-primary" %>
  </div>
</div>
