<div class="mx-auto md:w-2/3 w-full px-4">
  <h1 class="">Nuevo Permiso</h1>

  <%= render "form", permission: @permission %>

  <%= link_to "Regresar", permissions_path, class: "btn-primary mt-2 ml-2" %>
</div>
